//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Open Sans Light'), local('OpenSans-Light'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
//}
/*@font-face {
	font-family: "RalewayBold";
	src: url("../fonts/RalewayBold/RalewayBold.eot");
	src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
			 url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayRegular";
	src: url("../fonts/RalewayRegular/RalewayRegular.eot");
	src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
			 url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}*/