doctype

html(lang="en")
	include ./sectionsJade/_head.jade
		block title
			title Maguwahost
	body
	
		include ./sectionsJade/_header.jade
		
		include ./sectionsJade/_section2.jade
		
		include ./sectionsJade/_section3.jade
		
		include ./sectionsJade/_section4.jade
		
		include ./sectionsJade/_footer.jade
		
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="js/common.js")
	
	