footer(class="container-fluid")
	section(class="about")
		article(class="location col-xs-12 col-sm-12 col-md-4 col-lg-4")
			h3 Location
			p  Lorem ipsum dolor sit amet, consectetur.
		article(class="contact col-xs-12 col-sm-12 col-md-4 col-lg-4")
			h3 You can find us:
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-vk", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-facebook", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-linkedin", title="Settings", aria-hidden="true")
		article(class="about col-xs-12 col-sm-12 col-md-4 col-lg-4")
			h3 About this world
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat magni odit alias hic laudantium.
	section(class="copyright col-xs-12 col-sm-12 col-md-12 col-lg-12")
		p qlip  &copy; 2016.All Rights Reversed.
		p Page made by Ivan Putivlenko mazafaka.
		
		