head
	meta(charset = "utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="author", content="Redmonty")
	meta(name="description" content="")
	link(href="/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
	//link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
	
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	
	
	block title
		
		
	