header
	nav(class="navbar navbar-iverse")
		div(class="container")
			.navbar-header
				button(type="button",class="navbar-toggle collapsed menu_btn",data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
					&copy;
        
        
      
				a(class="navbar-brand logo", href="#") RM
    

    
			div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav navbar-right hmenu")
					li
						a(href="#") Features
					li
						a(href="#") Works 
					li
						a(href="#") Our Team 
					li
						a(href="#") Testimonials 
					li
						a(href="#") Download 
	
	.header_content
		h1 Your Favorite One Page Multi Purpose Template
		p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eos, ad enim unde, magni nobis.
	button(type="button", class="my_btn") button