section(class="container-fluid img_section")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs621716.vk.me/v621716777/104fe/XlTR2hnM7VI.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs625523.vk.me/v625523619/38ebc/loO-sYGLnO4.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs620228.vk.me/v620228777/d414/TvpydTT8nLs.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs630725.vk.me/v630725619/8119/nszTw9T5M1U.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs10655.vk.me/u19242777/-6/y_a72d8979.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs407118.vk.me/v407118777/93a6/m-yZbqxNJzk.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs9257.vk.me/u19242777/-6/y_5c313f82.jpg",alt="img",class="img-responsive")
	div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
		img(src="http://cs621628.vk.me/v621628616/3843c/EsLXBGwTX9w.jpg",alt="img",class="img-responsive")
	section(class="row fr")
		article(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
			img(src="http://cs623723.vk.me/v623723418/2e557/dasBnicFslw.jpg",class="img-responsive",alt="img")
			h3 name
			p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, fuga quasi vero.
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-vk", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-facebook", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-linkedin", title="Settings", aria-hidden="true")
		article(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
			img(src="http://cs624227.vk.me/v624227418/299e5/uGqWRO0gsKo.jpg",class="img-responsive",alt="img")
			h3 name
			p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, fuga quasi vero.
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-vk", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-facebook", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-linkedin", title="Settings", aria-hidden="true")
		article(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
			img(src="http://cs624425.vk.me/v624425896/28a0e/VR5qtl8Kk1s.jpg",class="img-responsive",alt="img")
			h3 name
			p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, fuga quasi vero.
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-vk", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-facebook", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-linkedin", title="Settings", aria-hidden="true")
		article(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
			img(src="http://cs543107.vk.me/v543107963/5/v3dXsooIPwE.jpg",class="img-responsive",alt="img")
			h3 name
			p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, fuga quasi vero.
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-vk", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-facebook", title="Settings", aria-hidden="true")
			a(class="btn btn-default", href="path/to/settings")
				i(class="fa fa-linkedin", title="Settings", aria-hidden="true")
		h2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, facilis?
		p(class="hp")  Lorem ipsum dolor sit amet.
		button(type="button", class="my_btn") button