section(class="container section2")
	.row
		div(class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2")
			.row
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-users fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-eye fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-paw fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-smile-o fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-star-o fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
				article(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
					i(class="fa fa-space-shuttle fa-3x", aria-hidden="true")
					h2  Lorem ipsum dolor sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque labore, tempore! Officiis, officia, at.
		